[Desktop Entry]
Type=Link
Name=Elementos de Sistemas
Comment=Elementos de Sistemas
Icon=/home/borg/404/desktop ssd/elementos.png
Terminal=false
URL=https://insper.github.io/Z01.1/
