[Desktop Entry]
Type=Link
Name=Robótica
Comment=Robótica
Icon=/home/borg/404/desktop ssd/robotica.png
Terminal=false
URL=https://github.com/insper/robot20
